{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="container">
    <br>
    <header> 
        <h1 style="color:blue">Quienes Somos</h1>
        <p style="color:black"> 
            Somos una tienda de estampados e impresiones dedicada a transformar ideas en productos únicos, personalizados y de alta calidad. Nuestra misión es ofrecer soluciones creativas y profesionales para satisfacer las necesidades tanto de particulares como de empresas, ayudándoles a destacar con productos diseñados a medida.
        </p>

        <p style="color:black">
            Nos especializamos en una amplia variedad de servicios que incluyen estampados textiles, sublimación, impresión en vinilo, personalización de productos promocionales y más. Trabajamos con equipos de última generación y materiales de primera calidad, lo que nos permite garantizar resultados impecables y duraderos en cada proyecto.
        </p>

        <p style="color:black">
            En nuestra tienda, entendemos que cada cliente tiene una visión única. Por eso, nuestro equipo de profesionales se dedica a asesorar y guiar a nuestros clientes en todo el proceso, desde la conceptualización del diseño hasta la entrega del producto final. Ya sea para eventos especiales, regalos personalizados, uniformes empresariales o campañas publicitarias, estamos aquí para dar vida a sus ideas con creatividad y precisión.
        </p>

        <p style="color:black">
            Nuestros valores clave son:
        </p>
        <ul style="color:black;">
            <li><strong>Calidad:</strong> Nos comprometemos a ofrecer acabados perfectos y productos que cumplan con los más altos estándares.</li>
            <li><strong>Innovación:</strong> Utilizamos tecnología de impresión avanzada para brindar opciones modernas y versátiles.</li>
            <li><strong>Atención al cliente:</strong> Cada proyecto es importante para nosotros, por lo que nos esforzamos por brindar un servicio personalizado y una experiencia excepcional.</li>
        </ul>

        <p style="color:black">
            En nuestra tienda de estampados e impresiones, su creatividad no tiene límites. Estamos aquí para ayudarle a plasmar sus ideas y hacerlas realidad de la manera más profesional y atractiva posible. ¡Confíe en nosotros para sus proyectos de personalización y marque la diferencia!
        </p>
    </header>

    <section>
        <h2 style="color: aliceblue;"></h2> 
        <p style="color:aliceblue;"></p>
    </section>

    <section>
        <img src="{% static 'img/liderazgo-y-trabajo-en-equipo-1.jpg' %}" alt="Descripción de la imagen" style="width:100%; height:auto;">
    </section>
</main>
{% endblock %}
