{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Panel de Administración</h2>

    <a href="{% url 'agregar_producto' %}" class="btn btn-success mb-3">Agregar Producto</a>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Imagen</th> <!-- Encabezado para la columna de imagen -->
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="width: 100px; height: auto;"> <!-- Celda para mostrar la imagen -->
                </td>
                <td>${{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>
                    <a href="{% url 'editar_producto' producto.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
